out
*.x
*.a
*.tcl
*.exe
bin
.idea
cmake-*
*.dat

build/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/.vs/*
/.vscode/*

*.md
LICENSE
/CMakeSettings.json
